*.lock
*.eld
*.log
emacs-desktop*
auto-save-list/*
elpa/*
ede-projects*
semanticdb/*
bookmarks
session.*
dired+/*
modeline-posn/*
backups/*
transient/*
# Auto-generiert von CEDET
srecode-map.el
irony/*
recentf
elpy/*
tramp
.pyvenv_path
.cache/*
.org-id-locations
.#*